{% extends "base.html" %}
{% block title %}
Login
{% endblock %}

{% block container %}
<form method="post">
    <h1> Already got a brain? Login! </h1>
    <div>
        <p> Please enter your username and password!</p>
        <hr>

        <label for = "username"> <b> Username </b></label>
        <input type = "text" placeholder = "Enter your username here" id="username"  name="username" required>

        <br>

        <label for = "password"> <b> Password </b></label>
        <input type = "password" placeholder = "Enter password here" id = "password"  name="password" required>

        <hr>

        <button type = "submit" class = "regbutton"> Login </button>
        <hr>
    </div>
</form>
{% endblock %}